<div class="purple white-text">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center" style="height: 100vh;">
        <div class="text-right p-3">
          <h1 class="display-4 font-weight-bold">Almacanelalean</h1>
          <div class="purple-gradient offset-5 pt-3 badge-pill my-4 col-7"></div>
          <h5>Software para la administracíon de las pymes en el sector calzado.</h5>
          <button data-toggle="modal" data-target="#modalIngresar"
            class="btn btn-white purple-text btn-lg rounded-pill font-weight-bold">Iniciar sesión</button>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <img src="https://mdbootstrap.com/img/illustrations/hiker-man-colour.svg" style="width: 100%;"
          class="img-fluid p-5">
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalIngresar" tabindex="-1" role="dialog" aria-labelledby="modalIngresarLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="exampleModalPreviewLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="far fa-times-circle"></i></span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
