<app-nabvar></app-nabvar>
<div class="container-fluid pt-5">
  <div class="row mt-4 px-2">
    <div class="col-lg-3 px-2 pt-3">
      <div class="card {{menu.clase}} mb-2 z-depth-0 overflow-auto animated fadeIn">
        <a class="botonMenu" (click)="accionarMenu()">
          <i class="{{menu.icono}} light-ic animated infinite fa-2x"></i>
        </a>
        <div class="card-body {{menu.campos}}">
          <!-- MENU LATERAL -->
          <app-lateral></app-lateral>
        </div>
      </div>
    </div>
    <div id="main" class="col-lg-9 px-2 pt-3">
      <div class="card z-depth-0 overflow-auto animated fadeIn" style="height: 84vh;">
        <div class="card-body">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
