/* You can add global styles to this file, and also import other style files */

.sidebar {
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar a {
  padding: 5px 5px 5px 32px;
  text-decoration: none;
  display: block;
  transition: 0.4s;
}

.pointer{
  cursor: pointer;
}

.menu-inactivo {
  height: 8vh;
  -webkit-transition: height 1s, background 1s;
  -moz-transition: height 1s, background 1s;
  -o-transition: height 1s, background 1s;
  transition: height 1s, background 1s;
}

.menu-activo {
  height: 84vh;
  -webkit-transition: height 1s, background 1s;
  -moz-transition: height 1s, background 1s;
  -o-transition: height 1s, background 1s;
  transition: height 1s, background 1s;
}


.limpiar-menu {
  display: none;
}

.poblar-menu{
  display: block;
}

.botonMenu{
  display: none;
  position: absolute;
  top: 7px;
  right: 15px;
}


@media (max-width: 991px) {
  .botonMenu{
    display: block;
  }
}

@media (min-width: 991px) {

  .limpiar-menu {
    display: block;
  }

  .menu-inactivo {
    height: 84vh;
    -webkit-transition: height 1s, background 1s;
    -moz-transition: height 1s, background 1s;
    -o-transition: height 1s, background 1s;
    transition: height 1s, background 1s;
  }
}


.active {
  font-weight: bold;
}



/* ------------------------------------- */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF3829;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f51200;
}
